.filter{
    margin-top: 90px;
}

.searchbar{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.searchbar input{
    min-width: 400px;
    min-height: 35px;
    border-radius: 6px;
    background-color: #212c39;
    color: white;
    border: 1px solid #6291ca;
    font-size: 16px;
    padding: 5px;
}
.date-loc{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
    margin-left: -50px;
}
.date-loc input{
    background-color: #212c39;
    color: white;
    padding: 5px;
    border: none;
    min-height: 30px;
    border-radius: 5px;
    cursor: text;
}

.date-loc select{
    background-color: #212c39;
    color: aliceblue;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.date-loc select option{
    cursor: pointer;
}
.searchbar button{
    background-color: #212c39;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.searchbar button:active{
    transform: scale(0.96);
}