.filter {
    margin-top: 90px;
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;

}

.bgcolor {
    background-color: #212c39;
    border: 1px solid #6291ca;
    border-radius: 6px;
}

.searchbar input {
    min-width: 400px;
    min-height: 35px;
    background-color: #212c39;
    color: white;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    padding: 5px;
}

.searchbar input:focus {
    border: none;
    outline: none;
}

.date-loc {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
    margin-left: -50px;
}

.date-loc input {
    background-color: #212c39;
    color: white;
    padding: 5px;
    border: none;
    min-height: 30px;
    border-radius: 5px;
    cursor: text;
}

.date-loc select {
    background-color: #212c39;
    color: aliceblue;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.date-loc select option {
    cursor: pointer;
}

.searchbar button {
    background-color: #212c39;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
    margin-right: 10px;
}

.searchbar button:active {
    transform: scale(0.96);
}

.searchbar button:hover {
    color: chartreuse;
}

@media(max-width:769px) {

    .searchbar input {
        min-width: 350px;
    }

    .date-loc input {
        width: 130px;
    }

    .date-loc select {

        width: 130px;
    }
}

@media(max-width:560px) {

    .searchbar input {
        min-width: 300px;
    }

    .date-loc input {
        margin-left: 40px;
    }

    .searchbar button {
        margin-right: 5px;
    }

    .date-loc option {
        width: 50px;
        font-size: 14px;
    }

    .date-loc input[type="date"] {
        width: 120px;
    }

    ::-webkit-calendar-picker-indicator {
        font-size: 14px;
    }
}

@media(max-width:426px) {

    .searchbar input {
        min-width: 250px;
    }

    .date-loc input,
    .date-loc select {
        font-size: 14px;
        width: 120px;
    }
}