.Navbar {
    background-color: #151b23;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
}

.Navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Navbar h3 {
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;

}

.navul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 20px;
}

.navul li {
    margin-right: 20px;
}

.Navbar ul li {
    list-style: none;
}

.side-nav-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    transition: transform 0.2s ease;
    gap: 6px;
}

.homebut {
    margin-top: 15px;
    max-width: 150px;
    list-style: none;
}

.housebut {
    color: white;
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    transition: transform 0.2s ease;
}

.housebut:hover {
    color: #2ef72e;
}

.homebut:active {
    transform: scale(0.96);
}

.navul button {
    background-color: transparent;
    border: none;
    color: white !important;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.navul button:hover {
    color: #ffffff;
    text-decoration: underline solid #2ef72e;
}

.navul button:active {
    transform: scale(0.96);
}

.user-info {
    color: white;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    background: #151b23;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1001;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.sidebarbutton {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 300px;
    margin-left: -10px;
    transition: transorm 0.2s ease;
}

.sidebarbutton button:active {
    transition: scale(0.96);
}

.sidebarbutton button,
.side-nav-link {
    padding: 12px 16px;
    font-size: 16px;
    color: aliceblue;
    border: none;
    text-align: left;
    width: 100%;
}

.dashboardbut {
    background-color: transparent;
}

.sidebarbutton button:hover,
.side-nav-link:hover {
    background-color: #4a5e78;
    color: #2ef72e;
    text-decoration: none;
}


.disabled-link {
    color: white;
    background-color: #151b23;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.6;
}

.username {
    margin-top: 5px;
    padding: 10px 5px;
    color: white;
    font-weight: 500;
}

.hrtag {
    height: 3px;
    border: none;
    background: linear-gradient(to right, #2ef72e, #1a79ee);
    margin: 10px 0;
}

.logout {
    margin-top: auto;
    padding-top: 20px;
}

.logout button {
    width: 100%;
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: transorm 0.2s ease;
}

.logout button:active {
    transform: scale(0.96);
}

.logout button:hover {
    background-color: #c0392b;
}

.active-link {
    background-color: #4a5e78;
    color: #2ef72e;
}

.signin-out button {
    background-color: #166616;
    border-radius: 5px;
    padding: 1px;
    width: 80px;
}

.signin-out button:hover {
    background-color: #1f8e1f;
    text-decoration: none;
    transition: transform 0.2s ease;
}

.signin-out button:active {
    transform: scale(0.96);

}


@media (max-width:770px) {
    .Navbar{
        height: 65px;
    }
    .housebut {
        margin-left: -20px;
    }

    .user-info span {
        margin-right: -20px;
        font-size: 16px;
    }

    .signin-out button {
        margin-right: -15px;
        margin-top: 1px;
        font-size: 16px;
        height: 28px;
        width: 70px;
    }

    .hamburger-menu button {
        margin-right: -40px;
    }

}

@media(max-width:515px){
    .sidebar{
        width: 200px;
    }
    .Navbar h3{
        font-size: 17px;
        margin-top: 5px;
    }
    .housebut{
        font-size: 16px;
    }
    .signin-out button{
        font-size: 14px;
        width: 55px;
        margin-top: -4px;
    }

}

@media(max-width:400px){
    .Navbar h3{
        margin-top: 6px;
    }
    .signin-out button{
        font-size: 14px;
        margin-top: 0px;
    }

}

 @media(max-width:380px){
    .Navbar h3{
        font-size: 16px;
        margin-top: 6px;
        margin-left: 10px;
    }

    .signin-out button{
        font-size: 14px;
        margin-top: 0px;
    } 

}